body {
	background-color: #8db1da;
	font-family: Verdana, Geneva, sans-serif;
}

h1 {
	color: #4152c1;
	font-weight: bold;
	margin: 0.5em 0px;
	text-align: center;
}

.local-container {
	margin: 1%;
}

.local-header {
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
}

.nav {
	color: #417dc1;
}